# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory
.Trash-*

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Arduino build artifacts
build/
*.hex
*.elf

# Logs
*.log
